*{  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;
    font-size: 62.5%;
  }
body{
    font-family: sans-serif;
}

.heading{
    background-color: rgba(0, 0, 0, 0.7);

}

.container{
    margin: 0 auto;
    width: 100%;
    /* max-width: 120rem; */
    overflow: hidden;
}

.logo {
    display: none;
}
.login img{
    width: 2.5rem;
    display: none;
}
.nav{
    padding: 40px 0;
    display: grid;
}