*{  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;
    font-size: 62.5%;
  }  



/*
  body{
    background-color: #f4f4f4;
  }


header{  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    height:10rem; 
    width: 100%; 
    background:rgba(0, 0, 0, 0.7);
    padding: 1rem;  
 }
 
.logo {
    height: 16rem;
    width: 33rem;
    padding-bottom: 0.4rem;
}

.heading ul{  
    display:flex;  
} 


/* header h1{
    color: white;
    font-style: oblique;
    font-weight: bold;
    font-weight: 1000;
    font-size: 60px;
    font-family: monospace;
    position: relative;
    left: 170px;
    padding-left: 30px;
    text-shadow: 2px 3px rgb(202, 4, 4) ;

} */

/* header h1:hover{
    color: black;
    cursor: pointer;
} */

/* header h2{
    display: flex;
    color: black;
    font-style: oblique;
    font-weight: bold;
    font-weight: 1000;
    font-size: 18px;
    font-family: 'Plaster', cursive;
    position: relative;
    top: 55px;
    right: 350px;

} */
/* 
.heading ul li{  
    list-style: none;  
} 

.heading {
    display: flex;
    /* right: 50px; */
}

.heading ul li a{  
    margin:5px;  
    text-decoration: none;  
    color:white;  
    font-weight: bold;  
    /* position:relative;     */
    margin:2px 14px;  
    font-size: 30px;  
    transition-duration: 1s;
    border-style: solid;  
    border-width: 1px;
    border-radius: 5px;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
}

.heading ul li a:hover{
    text-decoration: dashed;
    color: rgb(202, 4, 4);
    background-color: rgba(rgb(240, 236, 6), rgb(241, 226, 9), rgb(223, 238, 10), 0.7);
    transition-duration: 0.5s;
}

.login {
    position: relative;


}
.login img{
    width: 2.5rem;

}
.login a img:hover{
    background-color: white;
    border-radius: 50%;
} */

/* .search{
    display: flex;
    position: relative;
    margin: auto;
    justify-content: space-between;
    width: 10px;
    height: 30px;
}

.search input:hover{
    background-color: rgba(15, 39, 255, 0.514);

}

.btn-search {
    max-width: 20px;
    padding: 3px 3px;
}

.btn-search:hover{
    background-color: antiquewhite;
} */


/* .bar-search{
    width: 40px;
    height:40px;
    color:white;
    align-items: center;
    justify-content: center;
    
}
.input{
    width:0px;
    height:0px;
    border-radius: 15px;
    border:0px;
    padding:0px;
    transition-duration: 0.7s;
}
.input a,a:hover{
    width:40px;
    height:40px;
    border-radius:50%;
    transition-duration:1s;

z-index:100;

}
.search:hover .input{
    width:200px;
    height:45px;
    border-radius: 15px;
    border:0px;
    padding: 5px;
    transition-duration: 0.7s;
    
}  */
*/



@media screen and (max-width:1550px){  
      

    .heading ul li{  
      display:flex;  
    }  
    .items{  
      transform:scale(0.9);  
    }  
    .img-slider img{  
      height:60vw;  
      width:80vw;  
      }  
    .ham:active {  
       color:red;  
     }   
      .menu {  
      display:flex;  
      flex-direction: column;  
      align-items: center;  
      }    
      .menu a ion-icon{  
        position: absolute;  
      }
    }  

    main {
        margin: 0px 300px;
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        justify-content: center;
    }